discord.py==2.3.2
discord.py[voice]==2.3.2
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
pip
PyNaCl==1.4.0
python-dotenv==0.20.0
python-aiml
requests
wheel
yt-dlp
yt-dlp-youtube-oauth2
